/*
 *
 * 
 * Amrit Malhi and Guramrit Singh
 * 
 *
 */

/* =========================================================
 * Mobile CSS Styles
 * ========================================================= */
 
@media only screen and (max-width: 900px) {	
	html, body {
		font-size: 16px;
	}
	
	.hidden-tablet {
		display: none;
	}
	
	.hidden-desktop {
		display: block;
	}
	
	/** GENERAL **/
	
	h1,
	#class-page h1 {
		margin-top: 0;
	}
	
	h2 {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	
	h3 {
		padding-top: 10px;
	}
	
	.btn a {
		display: inline-block;
	}
	
	/** NAV **/
	nav .brand {
		font-size: 28px;
		
        width: 100%;
        height: 100%;

	}
	
	nav .column {
		padding-right: 0;
        float: none;
        clear: both;
        width: 100%;
        text-align: center;
	}
	
	nav .navigation {
		float: right;
	}

	nav ul {
        /*margin-top: 10px; */
        float: right;
        width: 100%;
        height: 40px;
	}
	
	nav ul li {
		width: 20%;
        height: 40px;
        
	}
	
	nav li a {
		padding-top: 8px;
        font-size: 13px;
	}
	
	/** LAYOUT **/
	article .column {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	
	#home article .column {
		text-align: center;
        margin-bottom: 20px;
	}
	
	.title {
		margin-bottom: 0;
	}

	
	/** INDEX **/	
	.line {
		display: none;
	}
	
	.title .title-contain {
		margin-top: -10px;
	}
	
	.circle {
		margin: 0 auto;
	}
	
	#staff .last {
		text-align: center;
	}
	
	#staff .row {
		margin: 20px 0 0;
	}
	
	#contactus .third {
		border: none;
	}
	
	/** CLASSES **/
	#classes article #heading .column,
	#class-page article .column  {
		float: left;
		width: 50%;
		padding-right: 20px;
	}
	
	#classes img {
		width: 100%;
		height: auto;
	}
	
	#classes .reviews {
		margin-top: 20px;
	}
	
	.reviews p {
		font-size: 16px;
	}
	
	/** MODAL **/
	.modal > div {
   		width: 400px;
    }
    
    iframe {
	    width: 100%;
	    height: auto;
    }
    .spareblock{
    display:none;
    }
    .brandmobile{
        display: none;
    }
    
   .upbtn{
   display: none;
   }   
    
        .picblock{
    
    display: none;
    }
    
}

/*
@media only screen and (min-width: 892px) and (max-width: 900px) {

/** NAV 
	nav .brand {
		font-size: 28px;
		
        width: 100%;
        height: 100%;

	}
	
	nav .column {
		padding-right: 0;
	}
	
	nav .navigation {
		float: right;
	}

	nav ul {
        /*margin-top: 10px; 
        float: right;
        width: 100%;
        height: 40px;
	}
	
	nav ul li {
		width: 130px;
        height: 40px;
	}
	
	nav li a {
		padding-top: 8px;
        font-size: 14px;
	}
	

}

@media only screen and (min-width: 500px) and (max-width: 892px) {

    nav ul {
        /*margin-top: 10px; 
        float: right;
        width: 90%;
        height: 40px;
	}
    
    nav ul li {
		width: 117px;
        height: 40px;
	}
    
}


@media only screen and (min-width: 481px) and (max-width: 500px) {
	/** TABLET SPECIFIC TAGS 
	
	.btn a:before {
		top: .28em;
		z-index: 1;
		width: 1.55em;
		height: 1.55em;
	}
}*/

@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
	/** LANDSCAPE TABLET SPECIFIC TAGS **/
	
	.hidden-tablet-landscape {
		display: none;
	}
    .brandmobile{
        display: none;
    }
}

/* MOBILE PHONE ONLY */
@media only screen and (max-width: 480px) {

	html, body {
		font-size: 14px;
	}

	.hidden-phone {
		display: none;
	}
	
	/** GENERAL **/
	h1 {
		font-size: 30px;
	}
	
	.btn a {
		display: block;
		margin: 10px 0 0;
		padding: 10px 0 12px;
		font-size: 18px;
	}
	
	.btn a.CTA {
	  border-right: 1px solid #b55444;
	}
	
	.btn a:before {
	  display: none; /* Remove fancy angle on phone */
	}
	
	.btn a.CTA-grey {
		border-right: 1px solid #2c3a4a;
	}
	
	.title .title-contain {
		padding: 0;
	}
	
	/** NAV **/
	nav .column {
		float: none;
		clear: both;
		width: 100%;
		text-align: center;
        display:block;
	}
	
	nav .two {
		border-bottom: 1px solid #80C8A5;
	}
	
	nav .brand {
		font-size: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	nav ul {
		width: 100%;
        height: 300px;
		float: none;
		margin: 0 auto;
	}
	
	nav ul li {
        width: 100%;
        height: 60px;
        font-size: 10px;
        margin-right: 0;
        border-bottom: 3px solid #ffffff;
	}
	
	nav ul li:last-child {
		border: none;
	}
	
	nav li a {
		padding-top: 21px;
	}
			
	nav li a:hover {
		background: transparent;
		text-decoration: underline;
	}
	
	footer .right {
		float: none;
	}
	
	footer a {
		margin-left: 10px;
	}
	
	/** CLASSES **/
	#classes article #heading .column,
	#class-page article .column  {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	
	/** ENROLL **/
	#enroll h6 {
		padding: 0;
	}
	
	#enroll label {
		margin-left: 0;
		padding: 0;
		float: none;
		clear: both;
		font-size: 16px;
	}

	#enroll input, #enroll select {
		width: 100%;
		clear: both;
		float: none;
		margin-top: 0;
		font-size: 16px;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#enroll input[type="text"],
	#enroll input[type="email"],
	#enroll select {
		margin: 3px 0 15px;
	}
		
	.reviews p {
		font-size: 14px;
	}
	
	/** MODAL **/
	.modal > div {
   		width: 240px;
    }
    .homenav {
   /* display: none;*/
       }
    
    .brand{
        display: none;
        }    

    .brandmobile{
        display: block;
    }
    
    .links {
    display: none;
    }

   .upbtn{
   display: block;
       text-align: right;
       padding-right: 10px;
   }

    footer{
    padding:5px;
        margin-bottom: 2.5px;
    
    }
    
    .picblock{
    
    display: none;
    }
    
}


/* MOBILE PHONE ONLY */
@media only screen and (max-width: 480px) and (orientation: landscape) {
	/** PHONE LANDSCAPE SPECIFIC TAGS **/
	.hidden-phone-landscape {
		display: none;
	}
}


/* 480 - 768 
@media only screen and (min-width: 480px) and (max-width: 768px) {


    nav ul {
    margin-top: 35px;
	height: 35px;
	width: 625px;
    float: right;
    background-color: #3799D4;
        clear: both;
}
    
}
*/

